.row-1{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.container {
    background-color: #fff9ed;
    /* color: var(--color-foreground); */
    padding: 50px 50px;
    margin-bottom: 500px;
}


.dark .container {
    background-color: #c08230;
    color: var(--color-foreground);
    padding: 50px 50px;
    margin-bottom: 500px;
}

.dark .suscribe-button {
    color: var(--color-foreground);
}
